<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>GreenCoins</title>
<!-- Tell the browser to be responsive to screen width -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- v4.1.3 -->
<link rel="stylesheet" href="<%=BaseUrl%>/adminPanel/bootstrap/css/bootstrap.min.css">

<!-- Google Font -->
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

<!-- Theme style -->
<link rel="stylesheet" href="<%=BaseUrl%>/adminPanel/css/style.css">
<link rel="stylesheet" href="<%=BaseUrl%>/adminPanel/css/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="<%=BaseUrl%>/adminPanel/css/et-line-font/et-line-font.css">
<link rel="stylesheet" href="<%=BaseUrl%>/adminPanel/css/themify-icons/themify-icons.css">
<link rel="stylesheet" href="<%=BaseUrl%>/adminPanel/css/simple-lineicon/simple-line-icons.css">
<link rel="stylesheet" href="<%=BaseUrl%>/adminPanel/css/skins/_all-skins.min.css?v=1">
<!-- DataTables -->
<link rel="stylesheet" href="<%=BaseUrl%>/adminPanel/plugins/datatables/css/dataTables.bootstrap.min.css">
<!-- bootstrap-switch -->
<!-- <link rel="stylesheet" href="<%=BaseUrl%>/plugins/bootstrap-switch/bootstrap-switch.css"> -->
<style>
.myswitch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.myswitch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.myslider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.myslider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .myslider {
  background-color: #2196F3;
}

input:focus + .myslider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .myslider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.myslider.myround {
  border-radius: 34px;
}

.myslider.myround:before {
  border-radius: 50%;
}
</style>
</head>
<body class="sidebar-mini skin-black-light">
<div class="wrapper boxed-wrapper">
  <header class="main-header"> 
    <!-- Logo --> 
    <a href="javascript:;" class="logo blue-bg d-none"> 
    <!-- mini logo for sidebar mini 50x50 pixels --> 
    <span class="logo-mini"><img src="<%=BaseUrl%>/adminPanel/img/sss.png" alt=""></span> 
    <!-- logo for regular state and mobile devices --> 
    <span class="logo-lg"><img src="<%=BaseUrl%>/adminPanel/img/sun.png" alt=""></span> </a> 
    <!-- Header Navbar -->
    <nav class="navbar blue-bg navbar-static-top"> 
      <!-- Sidebar toggle button-->
      <ul class="nav navbar-nav pull-left">
        <li><a class="sidebar-toggle" data-toggle="push-menu" href="#"></a> </li>
      </ul>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <%- include ('left_layout.html') %>
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper"> 
    <!-- Content Header (Page header) -->
    <div class="content-header sty-one">
      <h1>User List: <%=totaluser%></h1>
      <ol class="breadcrumb">
        <li><a href="<%=BaseUrl%>/dashboard">Dashboard</a></li>
        <li><i class="fa fa-angle-right"></i> <a href="javascript:;">User List</a></li>
      </ol>
    </div>
    

    <div id="leftMargin-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title">Outstanding Margin Details</h4>
                  <button type="button" class="close" data-dismiss="modal" style="outline:none;" aria-hidden="true">×</button>
              </div>
              <div class="modal-body">
                  <div class="box-body">
                      <div class="col-xs-8">
                          <div class="box box-primary">
                              <!-- /.box-header -->
                              <div class="box-body" id="orderLeftbody">
                                  <table class="table table-bordered text-center ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="ordersarray">
                                      <thead>
                                          <tr style="background: #ddd;">
                                              <th>No</th>
                                              <th>Reseller Name</th>
                                              <th>Outstanding Margin</th>
                                          </tr>
                                      </thead>
                                      <tbody ng-repeat="p in orderhistory.Product" class="ng-scope" id="leftMarginbody">
                                          
                                      </tbody>
                                    </table>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

    <div class="content">
      <div class="card">
        <div class="card-body">
        <div class="col-md-12">
          <form id="searchform" action="" method="post" onsubmit="return checkvalidateForm();">
            <div class="row">
            <div class="form-group col-md-2">
              <label>Search Type:</label>
              <select name="by" id="bysort" class="select2 form-control custom-select">
                <option value="name" <%if(search['by'] == 'name') {%> selected <%}%>>Name</option>
                <option value="_id" <%if(search['by'] == '_id') {%> selected <%}%>>User ID</option>
                <option value="mobile" <%if(search['by'] == 'mobile') {%> selected <%}%>>Mobile Number</option>
                <!-- <option value="mobileNo" <%if(search['by'] == 'mobileNo') {%> selected <%}%>>Mobile No</option> -->
                <!-- <option value="email" <%if(search['by'] == 'email') {%> selected <%}%>>Email ID</option> -->
                <option value="email" <%if(search['by'] == 'email') {%> selected <%}%>>Email ID</option>
              </select>
            </div>
            <div class="form-group col-md-2" id="searchbox">
              <label>Search:</label>
              <input type="text" class="form-control" id="orderno" name="search" placeholder="Search" value="<%if(search['search'] != '') {%><%=search['search']%><%}%>">
            </div>
            <div class="form-group col-md-2">
              <label>To Date:</label>
              <input type="date" class="form-control" id="todate" name="todate" placeholder="By Date" value="<%if(search['todate'] != '') {%><%=search['todate']%><%}%>">
            </div>
            <div class="form-group col-md-2">
              <label>From Date:</label>
              <input type="date" class="form-control" id="fromdate" name="fromdate" placeholder="By Date" value="<%if(search['fromdate'] != '') {%><%=search['fromdate']%><%}%>">
            </div>
            <div class="form-group col-md-2">
              <label>&nbsp;</label>
              <input type="submit"  class="form-control btn btn-sm btn-success" value="Search">
            </div>
            </div>
          </form>
        </div>
        <br>
        <div class="col-md-12">  
          <div class="table-responsive">
             <table class="table table-hover table-bordered" id="personnel">
              <thead class="thead-light">
               
                <tr>
                  <th>#</th>
                 <!-- <th>UserId</th>-->
                  <th>Name</th>
                  <th>Mobile</th>
                  <!-- <th>Email</th> -->
                  <!-- <th>Coin</th> -->
                  <!-- <th>Wallet</th> -->
                  <!-- <th>ReferBy</th> -->
                  <!-- <th>ReferId</th> -->
                  <th>Block</th>
                  <!-- <th>isCPU</th> -->
                  <th>Date</th>
                  <!--<th>Club</th>
                  <th>referBy</th>
                  <th>clubP</th>-->
                  <!-- <th>DailyBonus</th> -->
                  <!-- <th>DailyDay</th> -->
                  <!--<th>Action</th>-->
                </tr>
              </thead>
              <tbody id="tbody">
                <% if(data.length){ %>
                <% for (var i = 0; i < data.length; i++) { j=i+1%>
                <tr>
                  <td><%=j%></td>
                <!--  <td><a href="<%=BaseUrl%>/resellerProfile?id=<%=data[i]._id%>"><%if(data[i]._id){%> <%= data[i]._id %> <%}else{%> 0 <%}%></a></td>-->
                  <td> <a href="<%=BaseUrl%>/userdata/<%=data[i]._id%>"> <%= data[i].sellerName %></a> </td>
                  <td><%if(data[i].Mobile_no){%> <%= data[i].Mobile_no %> <%}else{%> - <%}%></td>
                  <!-- <td><%if(data[i].email){%> <%= data[i].email %> <%}else{%> - <%}%></td> -->
                  <!-- <td> <%= data[i].coinBalance %></td> -->
                  <!-- <td>Rs.  <%= data[i].walletBalance %></td> -->
                  <!-- <td><%if(data[i].referBy){%> <%= data[i].referBy %> <%}else{%> - <%}%></td> -->
                  <!-- <td><%if(data[i].my_referid){%> <%= data[i].my_referid %> <%}else{%> - <%}%></td> -->
                 <td><%if(data[i].block){%> Yes <%}else{%> No <%}%></td>
                  <td><%if(data[i].date){%> <%= data[i].date %> <%}else{%> <%= data[i].date %> <%}%></td>
                </tr>
                <% } %>
              <%}else{%>
                <tr>
                  <td colspan="13"> <center style="font-weight: 500;"> No Record Found ! </center> </td>
                </tr>
              <% } %>
              </tbody>
            </table>
            <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                <% if (pages > 0) { %>
                  <ul class="pagination" id="pagination">
                    <% if (current == 1) { %>
                      <li class="disabled"><a>First</a></li>
                    <% } else { %>
                      <li><a onclick="changePage('1');" >First</a></li>
                    <% } %>
                    <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                    <% if (i !== 1) { %>
                        <li class="disabled"><a>...</a></li>
                    <% } %>
                    <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                        <% if (i == current) { %>
                            <li class="active"><a><%= i %></a></li>
                        <% } else { %>
                          <li><a onclick="changePage('<%= i %>');" ><%= i %></a></li>
                        <% } %>
                        <% if (i == Number(current) + 4 && i < pages) { %>
                            <li class="disabled"><a>...</a></li>
                        <% } %>
                    <% } %>
                    <% if (current == pages) { %>
                        <li ><a>Last</a></li>
                    <% } else { %>
                      <li><a onclick="changePage('<%= pages %>');" >Last</a></li>
                        <!-- <li><a href="/userlist/<%= pages %>">Last</a></li> -->
                    <% } %>

                  </ul>
                <% } %>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>


    <!-- popup model -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">

            <h5 class="modal-title" id="exampleModalLabel">Edit Hummer & Coin</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <form id="insert_form" method="post">
          <div class="modal-body">
              <input type="hidden" id="uID" name="uID">
              <input type="hidden" id="_id" name="_id">
              <div class="form-group">
                <label class="col-form-label">Hummer:</label>
                <input type="number" id="hummer" name="hummer" value="0" class="form-control">
              </div>
              <div class="form-group">
                <label class="col-form-label">Coin:</label>
                <input type="number" id="coin" name="coin" value="0" class="form-control">
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" value="submit" name="submit" id="submit" class="btn btn-primary">Add Coin</button>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
  <footer class="main-footer">
    <div class="pull-right hidden-xs">Version 1.0</div>
    Copyright © 2018 . All rights reserved.</footer>
</div>

<script src="<%=BaseUrl%>/adminPanel/js/jquery.min.js" ></script>  
<script src="<%=BaseUrl%>/adminPanel/bootstrap/js/bootstrap.min.js"></script> 
<script src="<%=BaseUrl%>/adminPanel/js/bizadmin.js"></script>
<script src="<%=BaseUrl%>/adminPanel/plugins/jquery-sparklines/jquery.sparkline.min.js"></script> 
<script src="<%=BaseUrl%>/adminPanel/plugins/jquery-sparklines/sparkline-int.js"></script> 
<script src="<%=BaseUrl%>/adminPanel/plugins/table-expo/filesaver.min.js"></script>
<script src="<%=BaseUrl%>/adminPanel/plugins/table-expo/xls.core.min.js"></script>
<script src="<%=BaseUrl%>/adminPanel/plugins/table-expo/tableexport.js"></script>
<script src="<%=BaseUrl%>/adminPanel/plugins/bootstrap-switch/bootstrap-switch.js"></script> 
<script src="<%=BaseUrl%>/adminPanel/plugins/bootstrap-switch/highlight.js"></script> 
<script src="<%=BaseUrl%>/adminPanel/plugins/bootstrap-switch/main.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.1/js/jquery.tablesorter.min.js"></script>

<script>
    $(document).ready(function(){ 
      
      //get data in hemmer & coin
      $(document).on('click', '.edit_data', function(){  
           var _id = $(this).attr("id");
           console.log(_id)
           $.ajax({  
                url:"<%=BaseUrl%>/getid",  
                method:"POST",  
                data:{_id:_id},  
                dataType:"json",  
                success:function(data){ 
                  
                  $('#_id').val(data._id);
                  $('#uID').val(data.uID);
                  $('#exampleModal').modal('show');  
                }  
           });  
      });
    

    //insert hummer & coin form
    $('#insert_form').on("submit", function(event){  
          console.log('d')
            event.preventDefault();

            if ($('#hummer').val() == "") {
              alert("Please Insert Hummer");
            } else if ($('#coin').val() == '') {
              alert("Please Insert Coin")
            }
            else {
              console.log($('#insert_form').serialize())
              $.ajax({
                url: "<%=BaseUrl%>/updatehummercoin",
                method: "POST",
                data: $('#insert_form').serialize(),

                success: function (data) {
                  location.reload();
                }

              })
            }  
            })  

          })
  </script>
  <script>

  function checkvalidateForm(){
    var startDate = new Date($('#todate').val());
    var endDate = new Date($('#fromdate').val());

    if (startDate > endDate){
      swal("Oops!", "To Date Should not Greater then From Date!"); 
      return false;
    }
    
    return true;
  }



function changePage(page){
    var isPostReq=false;
    
    if($('#name').val()){
      isPostReq=true;
    }
    if($('#mobile').val()){
      isPostReq=true;
    }
    if($('#_id').val()){
      isPostReq=true;
    }
    if($('#email').val()){
      isPostReq=true;
    }
    /*if($('#referedBy').val()){
      isPostReq=true;
    } 

   if($('#name').val()){
      isPostReq=true;
    }*/
    
    if($('#todate').val()){
      isPostReq=true;
    }
    if($('#fromdate').val()){
      isPostReq=true;
    }
    var link='<%=BaseUrl%>/userlist/'+page;
    if(isPostReq){
      console.log('call1');
      $('#searchform').attr('action', link);
      $('#searchform').submit();
    }
    else{
     console.log('call2');
      location.href = link;
    }
  }

</script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
</body>
</html>
