<footer id="footer">
    <div class="footer-before">
       <div class="container">
          <!-- <div class="block_newsletter" id="newsletter">
             <div class="row">
                <h4 class="title"><span class="news1">Sign up Our Newsletter</span></h4>
                <div class="block_content">
                   <form action="https://demo.codezeel.com/prestashop/PRS10/PRS100234/index.php#newsletter" method="post">
                      <div class="newsletter-form">
                         <input class="btn btn-primary pull-xs-right hidden-xs-down" name="submitNewsletter" type="submit" value="Subscribe"><input class="btn btn-primary pull-xs-right hidden-sm-up" name="submitNewsletter" type="submit" value="OK">
                         <div class="input-wrapper"><input name="email" type="text" value="" placeholder="Your email address"></div>
                         <input type="hidden" name="action" value="0">
                         <div class="clearfix"></div>
                      </div>
                      <div class="newsletter-message">
                         <p>You may unsubscribe at any moment. For that purpose,
                            please find our contact info in the legal notice.
                         </p>
                      </div>
                   </form>
                </div>
             </div>
          </div> -->
          <div class="block-social">
             <ul>
                <li class="facebook"><a href="#" target="_blank"><span>Facebook</span></a></li>
                <li class="twitter"><a href="#" target="_blank"><span>Twitter</span></a></li>
                <li class="youtube"><a href="#" target="_blank"><span>YouTube</span></a></li>
                <li class="googleplus"><a href="#" target="_blank"><span>Google+</span></a></li>
             </ul>
          </div>
       </div>
    </div>
    <div class="footer-container">
       <div class="container">
          <div class="row footer">
             <div class="block-contact col-md-4 links wrapper">
                <h3 class="text-uppercase block-contact-title hidden-sm-down"><a href="index11f6.html?controller=stores">Store information</a></h3>
                <div class="title clearfix hidden-md-up" data-target="#block-contact_list" data-toggle="collapse"><span class="h3">Store information</span><span class="pull-xs-right"><span class="navbar-toggler collapse-icons"><i class="fa-icon add"></i><i class="fa-icon remove"></i></span></span></div>
                <ul id="block-contact_list" class="collapse">
                   <li><i class="fa fa-map-marker"></i><span>Stanley - Tools Store<br />United States</span></li>
                   <li><i class="fa fa-phone"></i><span>000-000-0000</span></li>
                   <li><i class="fa fa-fax"></i><span>123456</span></li>
                   <li><i class="fa fa-envelope-o"></i><span>sales@yourcompany.com</span></li>
                </ul>
             </div>
             <div id="block_myaccount_infos" class="col-md-2 links wrapper">
                <h3 class="myaccount-title hidden-sm-down"><a class="text-uppercase" href="index6714.html?controller=my-account" rel="nofollow">Your account </a></h3>
                <div class="title clearfix hidden-md-up" data-target="#footer_account_list" data-toggle="collapse"><span class="h3">Your account</span><span class="pull-xs-right"><span class="navbar-toggler collapse-icons"><i class="fa-icon add"></i><i class="fa-icon remove"></i></span></span></div>
                <ul class="account-list collapse" id="footer_account_list">
                   <li><a href="indexce45.html?controller=identity" title="Personal info" rel="nofollow">Personal info </a></li>
                   <li><a href="index5d88.html?controller=history" title="Orders" rel="nofollow">Orders </a></li>
                   <li><a href="indexcca2.html?controller=order-slip" title="Credit slips" rel="nofollow">Credit slips </a></li>
                   <li><a href="index3908.html?controller=addresses" title="Addresses" rel="nofollow">Addresses </a></li>
                </ul>
             </div>
             <div class="col-md-4 links block">
                <h3 class="h3 hidden-md-down">Products</h3>
                <div class="title h3 block_title hidden-lg-up" data-target="#footer_sub_menu_91698" data-toggle="collapse"><span class="">Products</span><span class="pull-xs-right"><span class="navbar-toggler collapse-icons"><i class="fa-icon add"></i><i class="fa-icon remove"></i></span></span></div>
                <ul id="footer_sub_menu_91698" class="collapse block_content">
                   <li><a id="link-product-page-prices-drop-1" class="cms-page-link" href="indexc485.html?controller=prices-drop" title="Our special products">Prices drop </a></li>
                   <li><a id="link-product-page-new-products-1" class="cms-page-link" href="index6237.html?controller=new-products" title="Our new products">New products </a></li>
                   <li><a id="link-product-page-best-sales-1" class="cms-page-link" href="index7e4b.html?controller=best-sales" title="Our best sales">Best sales </a></li>
                   <li><a id="link-static-page-contact-1" class="cms-page-link" href="index0684.html?controller=contact" title="Use our form to contact us">Contact us </a></li>
                   <li><a id="link-static-page-sitemap-1" class="cms-page-link" href="indexcc05.html?controller=sitemap" title="Lost ? Find what your are looking for">Sitemap </a></li>
                </ul>
             </div>
             <div class="col-md-4 links block">
                <h3 class="h3 hidden-md-down">Our company</h3>
                <div class="title h3 block_title hidden-lg-up" data-target="#footer_sub_menu_55318" data-toggle="collapse"><span class="">Our company</span><span class="pull-xs-right"><span class="navbar-toggler collapse-icons"><i class="fa-icon add"></i><i class="fa-icon remove"></i></span></span></div>
                <ul id="footer_sub_menu_55318" class="collapse block_content">
                   <li><a id="link-cms-page-1-2" class="cms-page-link" href="indexab5b.html?id_cms=1&controller=cms&id_lang=1" title="Our terms and conditions of delivery">Delivery </a></li>
                   <li><a id="link-cms-page-2-2" class="cms-page-link" href="index0913.html?id_cms=2&controller=cms&id_lang=1" title="Legal notice">Legal Notice </a></li>
                   <li><a id="link-cms-page-3-2" class="cms-page-link" href="index7b3f.html?id_cms=3&controller=cms&id_lang=1" title="Our terms and conditions of use">Terms and conditions of use </a></li>
                   <li><a id="link-cms-page-4-2" class="cms-page-link" href="indexac29.html?id_cms=4&controller=cms&id_lang=1" title="Learn more about us">About us </a></li>
                   <li><a id="link-cms-page-5-2" class="cms-page-link" href="indexac7f.html?id_cms=5&controller=cms&id_lang=1" title="Our secure payment method">Secure payment </a></li>
                </ul>
             </div>
             <div id="czfootercmsblock" class="footer-cms-block col-md-4 links block">
                <div id="footerlogo">
                   <div class="footerdiv">
                      <h3 class="title">Download App</h3>
                      <div class="footercms-inner"><a href="#" class="footercms"><img src="img/cms/cms-footer-1.jpg" alt="cms-footer1" class="footercms-image1" /></a><a href="#" class="footercms"><img src="img/cms/cms-footer-2.jpg" alt="cms-footer2" class="footercms-image2" /></a></div>
                   </div>
                </div>
             </div>
             <script type="text/javascript">var cz_coupon_url="modules/czcouponpop/index.html";
                var cookies_time=864000;
             </script><!-- <div id="overlay" style="" onclick="closeDialog(cookies_time)"></div><div id="newsletter-main" class="newsletter-main" style=""><div class="cz-newsletter-popup-close"><a class="cz_close" href="javascript:void(0)" onclick="closeDialog(cookies_time)"><i class="material-icons clear">
                </i></a></div><div class="left-block"><div class="cz-newsletter-popup"><img src="modules/czcouponpop/views/img/newsletter_banner.jpg"></div></div><div class="right-block"><div class="inner"><div class="clearfix newsletter-content"><div class="innerbox-newsletter"><h3 class="newsletter_title">Subscribe Newsletter!</h3><div class="newsletter-text"><p>Subscribe to our latest newsletter to get news about special discounts and upcoming sales.</p></div></div></div><div class="newsletter-form"><div class="newsletter-popup-form"><div class="input-wrapper"><input class="newsletter-input-email" id="newsletter_input_email" id="" type="text" name="email" size="18" placeholder="Enter your email address..." value="" /><a onclick="regisNewsletter()" name="submitNewsletter" class="btn btn-default button">Subscribe <i class="material-icons arrow_forward">
                </i></a></div></div><div id="regisNewsletterMessage"></div><div class="coupon-side clearfix"><div class="coupon-wrapper clearfix"><div id="coupon-element" class="coupon"><div class="dashed-border"><span id="coupon-text-before" style="display: block;">Your coupon code display here</span><span id="coupon-text-after" style="display: none;">Coupon Code: PROMO25</span></div></div></div></div><div class="newsletter-checkbox"><div class="checkbox"><input id="notshow" name="notshow" type="checkbox" value="1">Do not show this popup again </div></div></div></div></div></div>--><script type="text/javascript">var regisNewsletterMessage='You have subscribled successfully!';
                var enterEmail='Please enter valid email address!';
             </script>
          </div>
       </div>
    </div>
    </div>
    <div class="footer-after">
       <div class="container">
          <!-- Block payment logo module -->
          <div id="payement_logo_block_left" class="payement_logo_block"><a href="#"><img class="lazyload" data-src="https://demo.codezeel.com/prestashop/PRS10/PRS100234/modules/cz_blockpaymentlogo/views/img/discover.png" alt="discover" width="40" height="25" /><img class="lazyload" data-src="https://demo.codezeel.com/prestashop/PRS10/PRS100234/modules/cz_blockpaymentlogo/views/img/visa.png" alt="visa" width="40" height="25" /><img class="lazyload" data-src="https://demo.codezeel.com/prestashop/PRS10/PRS100234/modules/cz_blockpaymentlogo/views/img/american_express.png" alt="american_express" width="40" height="25" /><img class="lazyload" data-src="https://demo.codezeel.com/prestashop/PRS10/PRS100234/modules/cz_blockpaymentlogo/views/img/master_card.png" alt="master_card" width="40" height="25" /><img class="lazyload" data-src="https://demo.codezeel.com/prestashop/PRS10/PRS100234/modules/cz_blockpaymentlogo/views/img/paypal.png" alt="paypal" width="40" height="25" /></a></div>
          <!-- /Block payment logo module -->
          <div class="copyright"><a class="_blank" href="http://www.prestashop.com/" target="_blank">© 2020 - Ecommerce software by PrestaShop™ </a></div>
       </div>
    </div>
 </footer>